<ng-template #portalTemplateRef>
  <ng-template [cdkPortalOutlet]="selectedPortal"></ng-template>
</ng-template>

<!-- title TemplateRef -->
<ng-template #titleTemplateRef let-context="context" let-params>
  <div cdkDrag cdkDragHandle cdkDragRootElement=".ant-modal-content" class="p-0 d-block">
    <div class="d-flex justify-content-between">
      {{ context?.nzTitle || '标题' }}
    </div>
  </div>
</ng-template>

<!-- iframe TemplateRef -->
<ng-template #iframeTemplateRef let-params let-ref="modalRef">
  <app-modal-title [nzTitle]="params.nzTitle" [id]="params.id" (clickEvent)="templateClick($event, ref)">
  </app-modal-title>
  <div class="d-flex min-vh-75">
    <iframe class="w-100 h-auto" [src]="params?.url"></iframe>
  </div>
</ng-template>

<!-- formly TemplateRef -->
<ng-template #formTemplateRef let-params let-ref="modalRef">
  <app-modal-title [nzTitle]="params?.nzTitle" [id]="params.id" (clickEvent)="templateClick($event, ref)">
  </app-modal-title>
  <div class="ant-modal-body">
    <formly-form [fields]="params.field" [(model)]="params.model" [options]="params.options">
      <ng-template formlyTemplate let-field>
        <formly-field *ngFor="let f of field.fieldGroup" [field]="f"></formly-field>
      </ng-template>
    </formly-form>
  </div>
</ng-template>

<!-- blank TemplateRef -->
<ng-template #blankTemplateRef let-params let-ref="modalRef">
  <app-modal-title
    *ngIf="params?.nzTitle"
    [nzTitle]="params?.nzTitle"
    [id]="params.id"
    (clickEvent)="templateClick($event, ref, params)"
  ></app-modal-title>

  <button
    nz-button
    *ngIf="!params?.nzTitle"
    nzType="text"
    class="ant-modal-close-icon position-absolute top-0 end-0 text-white"
    style="z-index: 1000"
    (click)="templateClick({ type: 'close' }, ref, params)"
  >
    <span nz-icon nzType="close"></span>
  </button>

  <div class="ant-modal-body" [ngStyle]="params.nzBodyStyle">
    <ng-container *ngTemplateOutlet="params.nzContent; context: params"></ng-container>
  </div>
</ng-template>
