<nz-steps 
  [nzCurrent]="1"
  [nzType]="nzType"
  [nzDirection]="nzDirection"
  [nzLabelPlacement]="nzLabelPlacement"
  [nzProgressDot]="nzProgressDot"
  [nzSize]="nzSize"
  [nzStatus]="nzStatus"
  [nzStartIndex]="nzStartIndex"
  (nzIndexChange)="nzIndexChange($event)"
  >
  <ng-container *ngFor="let item of field.fieldGroup; let i = index; trackBy: trackByFn">
    <nz-step 
      [nzDescription]="item?.templateOptions?.nzDescription"
      [nzIcon]="item?.templateOptions?.nzIcon"
      [nzStatus]="item?.templateOptions?.nzStatus"
      [nzTitle]="item?.templateOptions?.nzTitle"
      [nzSubtitle]="item?.templateOptions?.nzSubtitle"
      [nzDisabled]="item?.templateOptions?.nzDisabled"
      [nzPercentage]="item?.templateOptions?.nzPercentage"
    >
    </nz-step>
  </ng-container>
</nz-steps>