<nz-date-picker 
    [nzId]="nzId"
    [nzAllowClear]="nzAllowClear"
    [nzAutoFocus]="nzAutoFocus"
    [nzBackdrop]="nzBackrop"
    [nzDefaultPickerValue]="nzDefaultPickerValue"
    [nzDisabled]="nzDisabled"
    [nzDisabledDate]="nzDisabledDate"
    [nzDropdownClassName]="nzDropdownClassName"
    [nzFormat]="nzFormat"
    [nzInputReadOnly]="nzInputReadOnly"

    [nzMode]="nzMode"
    [nzPlaceHolder]="nzPlaceHolder"
    [nzPopupStyle]="nzPopupStyle"
    
    [nzSize]="nzSize"
    [nzSuffixIcon]="nzSuffixIcon"
    [nzInline]="nzInline"

    [formControl]="control"
    [formlyAttributes]="field"
    (nzOnOpenChange)="onOpenChange($event)"
    (ngModelChange)="onModelChange($event)">
</nz-date-picker>