<nz-tabset
  [nzSelectedIndex]="nzSelectedIndex"
  [nzAnimated]="nzAnimated"
  [nzSize]="nzSize"
  [nzTabPosition]="nzTabPosition"
  [nzType]="nzType"
  [nzTabBarGutter]="nzTabBarGutter"
  [nzHideAll]="nzHideAll"
  [nzType]="nzType"
  class="bg-white"
  [nzCentered]="nzCentered">

  <ng-container *ngFor="let field of field.fieldGroup; let i = index; trackBy: trackByFn">
    <nz-tab 
      [nzTitle]="field?.templateOptions?.nzTitle || field?.templateOptions?.title || titleRef"
      [nzForceRender]="field?.templateOptions?.nzForceRender"
      [nzDisabled]="field?.templateOptions?.nzDisabled || field?.templateOptions?.disabled"
      (nzClick)="field?.templateOptions?.nzClick"
      (nzContextmenu)="field?.templateOptions?.nzContextmenu"
      (nzSelect)="field?.templateOptions?.nzSelect"
      (nzDeselect)="field?.templateOptions?.nzDeselect"
    >
      <formly-field [field]="field"></formly-field>
    </nz-tab>

    <ng-template #titleRef>
      <ng-template [cdkPortalOutlet]="getTemplate(field?.templateOptions?.titleRef)"></ng-template>
    </ng-template>
  </ng-container>
</nz-tabset>

