<!-- <nz-tabset
	[nzSelectedIndex]="selectedIndex"
	[nzTabBarExtraContent]="extraTemplate"
	[nzAnimated]="false"
	nzType="card"
	[nzHideAdd]="true"
	class="w-100 bg-white"
	(nzClose)="closeTab($event)">
	<ng-container *ngFor="let tab of tabs">
		<nz-tab nzClosable nzType="primary" class=""  (nzContextmenu)="contextMenu($event, menu)">
			<div *nzTabLink nz-tab-link [routerLink]="tab?.link" class="">
				<i *ngIf="tab?.icon" nz-icon [nzType]="tab?.icon || 'tabs'"  class="" nzTheme="outline"></i>
				{{tab?.name}}
			</div>
		</nz-tab>

		<nz-dropdown-menu #menu="nzDropdownMenu">
			<ul nz-menu>
				<li nz-menu-item (click)="closeMenu(tab)">关闭</li>
				<li nz-menu-item (click)="closeMenu(tab, 'other')">关闭其他</li>
				<li nz-menu-item (click)="closeMenu(tab, 'right')">关闭右侧其他</li>
				<li nz-menu-item (click)="closeMenu(tab, 'all')"> 关闭全部</li>
				<li nz-menu-item (click)="closeMenu(tab, 'reload')">重新加载</li>
			</ul>
		</nz-dropdown-menu>
	</ng-container>
</nz-tabset> -->

<!-- <nz-tabset
	class="w-100 bg-white px-3"
	[nzHideAdd]="true"
	[nzSelectedIndex]="selectedIndex"
	[nzTabBarExtraContent]="extraTemplate">
	<ng-container *ngFor="let tab of tabs">
		<nz-tab nzClosable nzType="primary" (nzContextmenu)="contextMenu($event, menu)">
			<div *nzTabLink nz-tab-link [routerLink]="tab?.link" >
				<i *ngIf="tab?.icon" nz-icon [nzType]="tab?.icon || 'tabs'" nzTheme="outline"></i>
				{{tab?.name}}
			</div>
		</nz-tab>

		<nz-dropdown-menu #menu="nzDropdownMenu">
			<ul nz-menu>
				<li nz-menu-item (click)="closeMenu(tab)">关闭</li>
				<li nz-menu-item (click)="closeMenu(tab, 'other')">关闭其他</li>
				<li nz-menu-item (click)="closeMenu(tab, 'right')">关闭右侧其他</li>
				<li nz-menu-item (click)="closeMenu(tab, 'all')"> 关闭全部</li>
				<li nz-menu-item (click)="closeMenu(tab, 'reload')">重新加载</li>
			</ul>
		</nz-dropdown-menu>
	</ng-container>
</nz-tabset> -->

<!-- <nz-tabset nzType="card">
	<ng-container *ngFor="let tab of tabs">
		<nz-tab nzType="primary" (nzContextmenu)="contextMenu($event, menu)">
			<div *nzTabLink nz-tab-link [routerLink]="tab?.link" >
				<i *ngIf="tab?.icon" nz-icon [nzType]="tab?.icon || 'tabs'" nzTheme="outline"></i>
				{{tab?.name}}
			</div>
			{{tab?.name}}
		</nz-tab>

		<nz-dropdown-menu #menu="nzDropdownMenu">
			<ul nz-menu>
				<li nz-menu-item (click)="closeMenu(tab)">关闭</li>
				<li nz-menu-item (click)="closeMenu(tab, 'other')">关闭其他</li>
				<li nz-menu-item (click)="closeMenu(tab, 'right')">关闭右侧其他</li>
				<li nz-menu-item (click)="closeMenu(tab, 'all')"> 关闭全部</li>
				<li nz-menu-item (click)="closeMenu(tab, 'reload')">重新加载</li>
			</ul>
		</nz-dropdown-menu>
	</ng-container>
</nz-tabset> -->


<nz-tabset
	class="w-100 bg-white px-3"
	[nzHideAdd]="true"
	[nzSelectedIndex]="selectedIndex"
	[nzTabBarExtraContent]="extraTemplate">
	<ng-container *ngFor="let tab of tabs">
		<nz-tab nzClosable nzType="primary" (nzContextmenu)="contextMenu($event, menu)">
			<div *nzTabLink nz-tab-link [routerLink]="tab?.link" >
				<i *ngIf="tab?.icon" nz-icon [nzType]="tab?.icon || 'tabs'" nzTheme="outline"></i>
				{{tab?.name}}
				<!-- <nz-divider nzType="vertical"></nz-divider> -->
			</div>
		</nz-tab>

		<nz-dropdown-menu #menu="nzDropdownMenu">
			<ul nz-menu>
				<li nz-menu-item (click)="closeMenu(tab)">关闭</li>
				<li nz-menu-item (click)="closeMenu(tab, 'other')">关闭其他</li>
				<li nz-menu-item (click)="closeMenu(tab, 'right')">关闭右侧其他</li>
				<li nz-menu-item (click)="closeMenu(tab, 'all')"> 关闭全部</li>
				<li nz-menu-item (click)="closeMenu(tab, 'reload')">重新加载</li>
			</ul>
		</nz-dropdown-menu>
	</ng-container>
</nz-tabset>

<ng-template #extraTemplate>
	<nz-button-group>
		<button nz-button>
			<i nz-icon nzType="left"></i>
		</button>
		<button nz-button>
			<i nz-icon nzType="right"></i>
		</button>
		<button nz-button>
			<i nz-icon nzType="redo"></i>
		</button>
		<button nz-button>
			<i nz-icon nzType="menu"></i>
		</button>
	</nz-button-group>
</ng-template>
