<nz-descriptions [nzTitle]="to['nzTitle']"  [nzBordered]="to['nzBorder']" [nzColumn]="to['nzColumn']" [nzSize]="to['nzSize']">
  <ng-container *ngFor="let item of field.fieldGroup; let i = index; trackBy: trackByFn">
      <ng-container *ngIf="!item.hide">
        <nz-descriptions-item [nzTitle]="item?.templateOptions?.nzLabel">
          <formly-field
              [form]="item.formControl"
              [options]="options"
              [model]="item.model"
              [field]="item">
          </formly-field>
        </nz-descriptions-item>
      </ng-container>
  </ng-container>
</nz-descriptions>
