<nz-tabset
    [nzSelectedIndex]="nzSelectedIndex || null"
    [nzAnimated] ="to['nzAnimated'] || false"
    [nzSize]="to['nzSize'] || 'default'"
    [nzTabPosition]="to['nzTabPosition'] || 'top'"
    [nzType]="to['nzType'] || 'line'"
    [nzTabBarGutter]="to['nzTabBarGutter'] || null"
    [nzHideAll]="to['nzHideAll'] || false"
    [nzShowPagination]="to['nzShowPagination'] || true"
    [nzType]="to['nzType'] || 'card'">

    <ng-container *ngFor="let field of field.fieldGroup; let i = index; trackBy: trackByFn">
        <nz-tab  [nzTitle]="titleTemplate">
            <ng-template #titleTemplate>
                <div>{{ field['model']?.label }} <span class="text-danger mr-2" *ngIf="field['model']?.disable">[禁] </span><i style="color: #60ab72" *ngIf="field['model']?.checked" nz-icon nzType="check" nzTheme="outline"></i></div>
            </ng-template>
        <!-- <nz-tab  [nzTitle]="field['model']?.label + field['model']?.checked"> -->
            <div class="mb-3" style="margin-left: 130px; color: black" *ngIf="!to['btnhide']">
                <button nz-button nzSize="small" nzType="primary" class="mr-2" (click)="copyText(field, i)">复制</button>
                <button nz-button nzSize="small" (click)="paste(field, i)">黏贴</button>
            </div>
            <formly-group
                [field]="field"
                [options]="options"
                [form]="formControl">
            </formly-group>
        </nz-tab>
    </ng-container>
</nz-tabset>

