

<ng-container *ngIf="!to['type']">
  <div class="d-flex justify-content-between">
  <nz-month-picker
    [nzDisabledDate]="disabledStartDate"
    nzFormat="yyyy-MM"
    [(ngModel)]="startValue"
    class="mr-2"
    nzPlaceHolder="开始日期"
    (ngModelChange)="onStartChange($event)"
  ></nz-month-picker>
  <div style="line-height: 36px; width: 40px; text-align: center;">至</div>
  <nz-month-picker
    [nzDisabledDate]="disabledEndDate"
    nzFormat="yyyy-MM"
    [(ngModel)]="endValue"
    nzPlaceHolder="截止日期"
    class="ml-2"
    (ngModelChange)="onEndChange($event)"
  ></nz-month-picker>
  </div>
</ng-container>

<ng-container *ngIf="to['type']">
  <ng-container *ngIf="dates && dates.length > 0" class="d-inline-block cursor-pointer">
    <li *ngFor="let value of dates;trackBy: trackByFn; let i = index" class="p-1 d-inline-block mr-2 bg-light border" style="line-height: 21px; border-color: 1px solid #e8e8e8; border-radius: 4px;">{{value}}
      <i (click)="remove(i)" class="mx-1 pointer-event" nz-icon nzType="close" nzTheme="outline"></i></li>
  </ng-container>
  <nz-month-picker
    [(ngModel)]="date"
    class="mb-2 mr-2 month-picker"
    style="width: 36px"
    (ngModelChange)="onChange($event)"
    [nzAllowClear]="false"
    nzPlaceHolder=""
  ></nz-month-picker>
</ng-container>





