<input  nz-input
    [formControl]="control"
	[formlyAttributes]="field"

    [nzSize]="nzSize"
	[nzBorderless]="nzBorderless"
	[type]="type"

    [placeholder]="to['placeholder'] || '请输入...'"
    [nzAutocomplete]="auto"
    (input)="onInput($event)">

<nz-autocomplete #auto
    [nzBackfill]="nzBackfill"
    [nzDefaultActiveFirstOption]="nzDefaultActiveFirstOption"
    [nzWidth]="nzWidth"  >
    <nz-auto-option *ngFor="let option of data" [nzValue]="option.value">{{ option.label }}</nz-auto-option>
</nz-autocomplete>
