<!-- <nz-progress
  class="progress position-fixed w-100 top-0 f0"
  [nzPercent]="percent"
  nzStrokeWidth="2"
  [nzShowInfo]="false"
  nzStrokeLinecap="square"
  style="z-index: 1000; line-height: 0;"
  [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }">
</nz-progress> -->

<nz-layout class="app-layout" style="width: 100%;">
  <ng-container *ngIf="nzWidthRange[0]">
    <nz-sider  
      nzCollapsible
      [nzCollapsedWidth]="nzWidthRange[index]"
      [nzCollapsed]="!!index"
      [nzWidth]="nzWidthRange[index]"
      [nzTrigger]="null"
    >
    </nz-sider>
    <nz-sider  
      nzCollapsible
      style="z-index: 1000; position: fixed; top: 0"
      class="h-100"
      [nzCollapsedWidth]="nzWidthRange[index]"
      [nzCollapsed]="!!index"
      [nzWidth]="nzWidthRange[index]"
      [nzTrigger]="null"
      (nzCollapsedChange)="collapsedChange($event)">
      <app-layout-menu class="menu-sidebar" [isCollapsed]="!index"></app-layout-menu>
    </nz-sider>
  </ng-container>

  <ng-container *ngIf="!nzWidthRange[0]">
    <nz-drawer
      [nzClosable]="false"
      [nzVisible]="!!index"
      nzPlacement="left"
      nzWidth="75%"
      [nzBodyStyle]="{padding: 0, 'backgroundColor': '#001529'}"
      (nzOnClose)="close()"
      >
      <ng-container *nzDrawerContent>
        <app-layout-menu class="menu-sidebar" [isCollapsed]="false"></app-layout-menu>
      </ng-container>
    </nz-drawer>
  </ng-container>
  

  <nz-layout style="min-height: 100vh;">
    <nz-header nzTheme="light" class="p-0">
      <app-layout-header></app-layout-header>
    </nz-header>

    <nz-affix [nzOffsetTop]="0">
      <app-layout-header-tabset></app-layout-header-tabset>
    </nz-affix>


    <!-- <nz-alert
      nzType="error"
      [nzBanner]="true"
      nzCloseable
      class="mx-3 mt-3"
      nzMessage="Error Text"
      [nzDescription]="Description"
      (nzOnClose)="afterClose()"
    ></nz-alert>

    <ng-template #Description>
      <div [innerHtml]="'Error Description Error Description Error Description Error Description Error Description Error Description <br\>sss '"></div>
		</ng-template>

    <app-layout-search class="m-3 mb-2 shadow-sm"></app-layout-search> -->
    

  
    <nz-content class="position-relative">
      <router-outlet></router-outlet>
    </nz-content>

    <!-- <nz-footer class="bg-white" style="margin-bottom: 52px; height: 52px;">
        footer...
    </nz-footer> -->

    <!-- <app-layout-footer-bar></app-layout-footer-bar> -->

  </nz-layout>
</nz-layout>

<nz-back-top></nz-back-top>
  