<nz-layout class="app-layout" style="width: 100%;">
  <ng-container *ngIf="nzWidthRange[0]">
    <nz-sider  
      nzCollapsible
      [nzCollapsedWidth]="nzWidthRange[index]"
      [nzCollapsed]="!!index"
      [nzWidth]="nzWidthRange[index]"
      [nzTrigger]="null"
    >
    </nz-sider>
    <nz-sider  
      nzCollapsible
      style="z-index: 1000; position: fixed; top: 0"
      class="h-100"
      [nzCollapsedWidth]="nzWidthRange[index]"
      [nzCollapsed]="!!index"
      [nzWidth]="nzWidthRange[index]"
      [nzTrigger]="null"
      (nzCollapsedChange)="collapsedChange($event)">
      <app-layout-menu class="menu-sidebar" [isCollapsed]="!index"></app-layout-menu>
    </nz-sider>
  </ng-container>

  <ng-container *ngIf="!nzWidthRange[0]">
    <nz-drawer
      [nzClosable]="false"
      [nzVisible]="!!index"
      nzPlacement="left"
      nzWidth="75%"
      [nzBodyStyle]="{padding: 0, 'backgroundColor': '#001529'}"
      (nzOnClose)="close()"
      >
      <ng-container *nzDrawerContent>
        <app-layout-menu class="menu-sidebar" [isCollapsed]="false"></app-layout-menu>
      </ng-container>
    </nz-drawer>
  </ng-container>
  
  <nz-layout style="min-height: 100vh;">
    <nz-header nzTheme="light" class="p-0">
      <app-layout-header></app-layout-header>
    </nz-header>

    <nz-affix [nzOffsetTop]="0">
      <app-layout-header-tabset></app-layout-header-tabset>
    </nz-affix>

    <nz-content class="position-relative">
      <router-outlet></router-outlet>
    </nz-content>
    
  </nz-layout>
</nz-layout>

<nz-back-top></nz-back-top>
  