<nz-layout>
  <ng-container *ngIf="layout.isDrawerVisible">
    <nz-sider  
      nzCollapsible
      [nzCollapsedWidth]="layout.collapsedWidth"
      [nzCollapsed]="layout.isCollapsed"
      [nzWidth]="layout.width"
      [nzTrigger]="null"
    >
    </nz-sider>
    <nz-sider  
      nzCollapsible
      class="h-100 position-fixed top-0"
      style="z-index: 3;"
      [nzCollapsedWidth]="layout.collapsedWidth"
      [nzCollapsed]="layout.isCollapsed"
      [nzWidth]="layout.width"
      [nzTrigger]="nzTrigger"
      (nzCollapsedChange)="collapsedChange($event)">
      <app-layout-menu class="menu-sidebar" [isCollapsed]="layout.isCollapsed"></app-layout-menu>
    </nz-sider>

    <ng-template #nzTrigger> 
      <div  style="height: 50px;" class="d-flex align-items-center px-3 mx-2">	
        <i nz-icon  nz-button	 class="f16 text-white" [nzType]="layout.isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
      </div> 
     </ng-template> 
  </ng-container>

  <ng-container *ngIf="!layout.isDrawerVisible">
    <nz-drawer
      [nzClosable]="false"
      [nzVisible]="!layout.isCollapsed"
      nzPlacement="left"
      nzWidth="75%"
      [nzBodyStyle]="{ padding: 0, backgroundColor: '#001529'}"
      (nzOnClose)="closeDrawer()"
      >
      <ng-container *nzDrawerContent>
        <app-layout-menu class="menu-sidebar"></app-layout-menu>
      </ng-container>
    </nz-drawer>
  </ng-container>
  
  <nz-layout style="min-height: 100vh;">
    <nz-header nzTheme="light" class="p-0">
      <app-layout-header></app-layout-header>
    </nz-header>

    <nz-affix [nzOffsetTop]="0">
      <app-layout-header-tabset></app-layout-header-tabset>
    </nz-affix>

    <nz-content class="position-relative">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>


<nz-back-top></nz-back-top>
  