<nz-rate 
	[formControl]="control"
	[formlyAttributes]="field"

	[nzAllowClear]="nzAllowClear"
	[nzAllowHalf]="nzAllowHalf"
	[nzAutoFocus]="nzAutoFocus"
	[nzCharacter]="nzCharacter"
	[nzCount]="nzCount"
	[nzDisabled]="nzDisabled"
	[nzTooltips]="nzTooltips"
	(ngModelChange)="ngModelChange($event)"
	(nzOnBlur)="nzOnBlur($event)"
	(nzOnFocus)="nzOnFocus($event)"
	(nzOnHoverChange)="nzOnHoverChange($event)"
	(nzOnKeyDown)="nzOnKeyDown($event)"
	(ngModelChange)="ngModelChange($event)"
	ngDefaultControl>	
</nz-rate>