<div class="d-flex flex-column h-100">
  <div class="sidebar-logo">
    <a href="/" target="_blank">
      <img src="/assets/img/logo.svg" alt="logo" />
      <h1>Lazy admin Pro</h1>
    </a>
  </div>

  <ul
    nz-menu
    nzMode="inline"
    style="flex: 1 1 0%; overflow: hidden auto"
    nzTheme="dark"
    [nzInlineCollapsed]="isCollapsed"
  >
    <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menuService.menus }"></ng-container>
    <ng-template #menuTpl let-menus>
      <ng-container *ngFor="let menu of menus">
        <li
          *ngIf="menu.children && !menu.isTabs"
          nz-submenu
          [nzOpen]="menu.isOpen"
          [nzTitle]="titleTpl"
          [nzPaddingLeft]="isCollapsed ? 0 : menu.level * 24"
          [nzDisabled]="menu.disabled"
        >
          <ng-template #titleTpl>
            <span class="d-flex justify-content-start align-items-center w-100">
              <i nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></i>
              <span class="d-inline-block">{{ menu.name }}</span>
              <nz-badge class="mx-2" nzStandalone [nzCount]="menu.count || 0"></nz-badge>
            </span>
          </ng-template>
          <ul>
            <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"></ng-container>
          </ul>
        </li>

        <li
          *ngIf="!(menu.children && !menu.isTabs)"
          nz-menu-item
          [nzMatchRouter]="true"
          [routerLink]="menu.link"
          [queryParams]="menu.queryParams"
          class=""
          [nzPaddingLeft]="isCollapsed ? 0 : menu.level * 24"
          [nzDisabled]="menu.disabled"
        >
          <i nz-icon [nzType]="menu.icon" class="me-2" *ngIf="menu.icon"></i>
          <a (click)="menuService.setTabsMenu(menu)">{{ menu.name }}</a>
          <nz-badge class="mx-2" nzStandalone [nzCount]="menu.count || 0" class="mx-2"></nz-badge>
        </li>
      </ng-container>
    </ng-template>
  </ul>
</div>
