<div class="app-header">
	<ul nz-menu nzTheme="light" nzMode="horizontal" class="d-flex w-100 " nzSelectable="false">
		<li nz-menu-item (click)="collapsChange(!isCollapsed)">
			<i nz-icon 
				nz-button	
				class="f16"
				[nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'">
			</i>
		</li>
		<li class="me-auto">
			<nz-breadcrumb style="width: 400px;" class="d-inline-flex d-none d-xl-inline-block d-xxl-inline-block">
				<nz-breadcrumb-item>
					<a [routerLink]="['/']"><i nz-icon nzType="home"></i></a>
				</nz-breadcrumb-item>
				<ng-container *ngFor="let item of menu.breadcrumb">
					<nz-breadcrumb-item>
						<span>{{item}}</span>
					</nz-breadcrumb-item>
				</ng-container>
			</nz-breadcrumb>
		</li>
		<li nz-menu-item class="d-none  d-sm-block">
			<i nz-icon class="f16" nz-button nzType="search" nzTheme="outline"></i>
		</li>
		<li nz-menu-item class="d-none d-sm-block" (click)="fullScreen()">
			<i nz-icon class="f16" nz-button nzType="expand" nzTheme="outline"></i>
		</li>
		<li nz-menu-item class="d-none d-sm-block">
			<i nz-icon class="f16" nz-button nzType="github" nzTheme="outline"></i>
		</li>
		<li nz-menu-item>
			<i nz-icon class="f16" nz-button nzType="question-circle" nzTheme="outline"></i>
		</li>
		<li nz-menu-item class="f16">
			<i nz-icon class="f16" nz-button nzType="bell" nzTheme="outline"></i>
		</li>
		<li nz-menu-item>
			<i nz-icon class="f16" nz-button nzType="global" nzTheme="outline"></i>
		</li>
		<li nz-menu-item>
			<nz-avatar nzIcon="user" nzSize="small" style="margin-top: -5px;"  nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
		</li>
	</ul>
</div>
