<form [formGroup]="form">
    <formly-form [form]="form" [fields]="fields" [(model)]="model"  [options]="options"></formly-form>
    <button nz-button type="submit" (click)="onSubmit(model)">onSubmit</button>
</form>


<pre> {{model | json}}</pre>

<nz-form-item>
    <nz-form-label [nzSpan]="5">Fail</nz-form-label>
    <nz-form-control
      nzValidateStatus="error"
      [nzSpan]="12"
      nzErrorTip="Should be combination of numbers & alphabets"
    >
      <input nz-input [ngModel]="'unavailable choice'" name="errorValid" />
    </nz-form-control>
  </nz-form-item>


<ng-template #templatePortalContent> <i nz-icon nzType="menu-fold" nzTheme="outline"></i> Hello, this is a template portal</ng-template>