<nz-form-item [class]="to['nzLayout'] || 'ant-form-horizontal'" style="display: inline;">
  <nz-form-control [nzSpan]="24"
                   [style.minWidth]="to['minWidth'] ? to['minWidth'] : 'inherit'"
                   [style.color]="to['textColor'] ? to['textColor'] : 'inherit'"
                   [nzValidateStatus]="to['nzValidateStatus']">
    <ng-template #fieldComponent></ng-template>
    <nz-form-explain *ngIf="to['nzValidateStatus'] && to['nzErrorTip']">{{to['nzErrorTip']}}</nz-form-explain>
    <span nz-tooltip [nzTitle]="to['nzTooltip']" *ngIf="to['nzTooltip']">
      <i nz-icon nzType="question-circle" nzTheme="outline"></i>
    </span>
  </nz-form-control>
</nz-form-item>
