<div class="bg-white mb-0 p-3 ">
    <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <div nz-row [nzGutter]="16">
        <ng-container *ngFor="let item of list">
          <div nz-col class="gutter-row" [nzXXl]="4"  [nzXl]="6" [nzLg]="8" [nzMd]="12" [nzSm]="12" [nzXs]="24" >
            <nz-form-item>
              <nz-form-control>
                <nz-input-group nzPrefixIcon="user">
                  <input formControlName="userName" nz-input placeholder="Username" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </ng-container>
        <div nz-col class="gutter-row" [nzSpan]="6">
          <nz-form-item class="w-100">
            <nz-form-control>
              <button nz-button class="me-3" type="reset" nzType="default">重置</button>
              <button nz-button class="me-3" nzType="primary" (click)="submit()">确定</button>
              <button nz-button nzType="primary">导出</button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
</div>



