<!-- <nz-modal
    [nzAfterOpen]="to['nzAfterOpen']"
    [nzAfterClose]="to['nzAfterClose']"
    [nzBodyStyle]="to['nzBodyStyle']"
    [nzCancelText]="to['nzCancelText']"
    [nzClosable]="to['nzClosable']"
    [nzOkLoading]="to['nzOkLoading']"
    [nzCancelLoading]="to['nzCancelLoading']"
    [nzFooter]="to['nzFooter']"
    [nzKeyboard]="to['nzKeyboard']"
    [nzMask]="to['nzMask']"
    [nzMaskClosable]="to['nzMaskClosable']"
    [nzMaskStyle]="to['nzMaskStyle']"
    [nzOkText]="to['nzOkText']"    
    [nzOkType]="to['nzOkType']"
    [nzStyle]="to['nzStyle']"
    [nzTitle]="to['nzTitle']"
    [nzVisible]="to['nzVisible']"
    [nzClassName]="to['nzClassName']"
    [nzWrapClassName]="to['nzWrapClassName']"
    [nzOnCancel]="to['nzOnCancel']"
    [nzOnOk]="to['nzOnOk']"
    [nzContent]="to['nzContent']"
    [nzComponentParams]="to['nzComponentParams']"
    [nzIconType]="to['nzIconType']">
    <ng-container *ngFor="let field of field.fieldGroup; let i = index;">
        <formly-group
            [model]="model"
            [field]="field"
            [options]="options"
            [form]="formControl">
        </formly-group>
    </ng-container>
</nz-modal>


 -->
