<nz-select 
	[formControl]="formControl"
	[formlyAttributes]="field"
	[nzId]="nzId"
	[compareWith]="compareWith"
	[nzAutoClearSearchValue]="nzAutoClearSearchValue"
	[nzAllowClear]="nzAllowClear"
	[nzBackdrop]="nzBackdrop"
	[nzBorderless]="nzBorderless"
	[nzOpen]="nzOpen"
	[nzAutoFocus]="nzAutoFocus"
	[nzDisabled]="nzDisabled"
	[nzDropdownClassName]="nzDropdownClassName"
	[nzDropdownMatchSelectWidth]="nzDropdownMatchSelectWidth"
	[nzDropdownStyle]="nzDropdownStyle"
	[nzCustomTemplate]="nzCustomTemplate"
	[nzServerSearch]="nzServerSearch"
	[nzFilterOption]="nzFilterOption"
	[nzMaxMultipleCount]="nzMaxMultipleCount"
	[nzMode]="nzMode"
	[nzNotFoundContent]="nzNotFoundContent"
	[nzPlaceHolder] = "nzPlaceHolder"
	[nzShowArrow]="nzShowArrow"
	[nzShowSearch] ="to['nzShowSearch'] || true"
	[nzSize]="nzSize"
	[nzSuffixIcon]="nzSuffixIcon"
	[nzRemoveIcon]="nzRemoveIcon"
	[nzClearIcon]="nzClearIcon"
	[nzMenuItemSelectedIcon]="nzMenuItemSelectedIcon"
	[nzTokenSeparators]="nzTokenSeparators"
	[nzLoading]="nzLoading"
	[nzMaxTagCount]="nzMaxTagCount"
	[nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
	[nzOptions]="nzOptions"
	[nzOptionHeightPx]="nzOptionHeightPx"
	[nzOptionOverflowSize]="nzOptionOverflowSize"
	[nzFilterOption]="nzFilterOption"

	(ngModelChange)="ngModelChange($event)"
	(nzOpenChange)="nzOpenChange($event)"
	(nzOnSearch)="nzOnSearch($event)"
	(nzFocus)="nzFocus($event)"
	(nzBlur)="nzBlur($event)"
	>
		
	<ng-container *ngFor="let option of to['nzOptions']; trackBy: trackByFn">
		<nz-option *ngIf="!isLoading"
			class="select-option"
			nzCustomContent
			[nzDisabled]="option['nzDisabled '] || false"
			[nzValue]="nzValue ? (nzValue == 'option' ? option : option[nzValue]) : (option && option.value ? option.value : option))"
			[nzLabel]="option.label">
			<span [title]="option.label">{{option.label}}</span>
		</nz-option>
	</ng-container>
	<nz-option  *ngIf="isLoading" nzDisabled nzCustomContent>
		<i nz-icon type="loading" class="loading-icon"></i> 加载中...
	</nz-option>
</nz-select>