<div  nz-row
        [nzAlign]="to['nzRow']['nzAlign'] || 'top'"
        [nzGutter]="to['nzRow']['nzGutter'] || 0"
        [nzJustify]="to['nzRow']['nzJustify'] || 'start'"
        [nzType]="to['nzRow']['nzType'] || ''"
        >
     <ng-container *ngFor="let item of field.fieldGroup; trackBy: trackByFn">
        <div  *ngIf="item['templateOptions'] && item['templateOptions']['nzCol']"
              nz-col
              [nzOffset] ="item['templateOptions']['nzCol']['nzOffset'] || 0"
              [nzOrder] = "item['templateOptions']['nzCol']['nzOrder'] || 0"
              [nzPull] = "item['templateOptions']['nzCol']['nzPull'] || 0"
              [nzPush] = "item['templateOptions']['nzCol']['nzPush'] || 0"
              [nzSpan] = "item['templateOptions']['nzCol']['nzSpan'] || 0"
              [nzXs] = "item['templateOptions']['nzCol']['nzXs'] || ''"
              [nzSm] = "item['templateOptions']['nzCol']['nzSm'] || ''"
              [nzMd] = "item['templateOptions']['nzCol']['nzMd'] || ''"
              [nzLg] = "item['templateOptions']['nzCol']['nzLg'] || ''"
              [nzXl] = "item['templateOptions']['nzCol']['nzXl'] || ''"
              [nzXXl] = "item['templateOptions']['nzCol']['nzXXl'] || ''"
            >
           <formly-field
               [form]="item.formControl"
               [options]="options"
               [model]="item.model"
               [field]="item">
           </formly-field>
        </div>
     </ng-container>
</div>
