@import url("~quill/dist/quill.core.css");
@import url("~quill/dist/quill.bubble.css");
@import url("~quill/dist/quill.snow.css");

.quill-editor .ql-editor {
  min-height: 200px;
  font-family: -apple-system, Microsoft YaHei, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

/* 边框的颜色 */
.ql-container.ql-snow,
.ql-toolbar.ql-snow {
  border: 1px solid #dadde6;
}

.ql-toolbar.ql-snow .ql-formats {
  position: relative;
}

.ql-toolbar.ql-snow .ql-formats::after {
  content: '';
  width: 1px;
  height: 16px;
  position: absolute;
  margin-left: 8px;
  top: 3px;
  right: -8px;
  background: #ccc;
}

.ql-toolbar.ql-snow .ql-formats:last-child::after {
  content:unset;
}

/* 图标的颜色 */
.ql-snow .ql-stroke {
  color: red;
}