<nz-input-number [formControl]="formControl"
                 [formlyAttributes]="field"
                 [(ngModel)]="model[key]"
                 [nzMin]="to['min']"
                 [nzMax]="to['max']"
                 [nzDisabled]="to['nzDisabled']"
                 [nzPrecision]="to['nzPrecision']"
                 [nzSize]="to['nzSize']"
                 [nzPlaceHolder]="to['nzPlaceHolder'] || ''"
                 [nzFormatter]="to['nzFormatter'] || formatter"
                 [nzParser]="to['nzParser'] || parser"
                 [nzStep]="to['step'] || 1" ngDefaultControl></nz-input-number>
