<div class="fixed-bottom shadow-sm px-3 bg-white mb-0 d-flex justify-content-between align-items-center border-top"   
    style="height: 52px; margin-left: 256px;  transition: background 0.3s, margin-left 0.3s cubic-bezier(0.2, 0, 0, 1) 0s; transition: all 0.2s;"
    [ngStyle]="{
        'marginLeft': isCollapsed ? '80px' : '256px'
      }" >
    <div class="d-flex justify-content-center align-items-center">
        <label nz-checkbox >全选</label>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <button nz-button class="mx-2"  nzType="default">取消</button>
        <button nz-button class="mx-2" nzType="primary">确定</button>
    </div>
</div>
