// 容器没有点击事件
::ng-deep .cdk-overlay-container,
::ng-deep .cdk-overlay-backdrop{
    pointer-events:  none;
}

// 有遮罩层不穿透
::ng-deep .cdk-overlay-backdrop.ant-modal-mask {
    pointer-events: auto !important; 
}

// 有穿透的穿透
::ng-deep .pointer-events-none,
::ng-deep .pointer-events-none .ant-modal-wrap  {
    pointer-events: none !important;
}
