<p>code works! {{ model | json }}</p>

<div class="d-flex flex-nowarp">
    <nz-code-editor 
        class="editor w-50" 
        style="height: 500px;"
        (onChange)="change($event)"
        [ngModel]="code"
        [nzEditorOption]="{ language: 'js' }" 
        (nzEditorInitialized)="editorInitialized($event)">
    </nz-code-editor>
    <div class="w-50">
        <!-- <div class="mGraph-wrapper">
            <div class="mGraph" id="main"></div>
        </div> -->
        <form [formGroup]="form" >
            <formly-form [form]="form" [fields]="fields" [(model)]="model"></formly-form>
        </form>
    </div>
</div>

