<div class="p-0 bg-white app-header d-flex justify-content-between align-items-center">
	<!-- [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" -->
	<i class="trigger f16 p-3"  nz-button nz-icon [nzType]="'menu-unfold'"></i>

	<nz-breadcrumb class="d-inline-flex d-none d-xl-inline-block d-xxl-inline-block">
		<nz-breadcrumb-item>
			Home
		</nz-breadcrumb-item>
		<nz-breadcrumb-item>
			<a>Application List</a>
		</nz-breadcrumb-item>
		<nz-breadcrumb-item>
			An Application
		</nz-breadcrumb-item>
	</nz-breadcrumb>

	<div class="float-end d-inline-block d-flex  align-items-center">
		<nz-input-group class="d-inline-flex mx-3 d-none d-lg-inline-flex d-xl-inline-flex d-xxl-inline-flex" [nzSuffix]="suffixIconSearch" style="width: 240px;">
			<input class="f16" type="text" nz-input placeholder="search..." />
		</nz-input-group>

		<ng-template #suffixIconSearch>
			<i nz-icon nz-button class="f16 trigger" nzType="search"></i>
		</ng-template>

		<i nz-icon nz-button nzType="expand" class="p-3 f16 trigger" nzTheme="outline"></i>

		<i nz-icon nz-button nzType="github" class="p-3 f16 trigger" nzTheme="outline"></i>

		<nz-badge [nzCount]="0">
			<i nz-icon nz-button nzType="bell" class="p-3 f16 trigger" nzTheme="outline"></i>
    	</nz-badge>

		<nz-badge [nzCount]="0">
			<nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
    	</nz-badge>
		<span>nickName</span>
		
		<i nz-icon nz-button nzType="global" class="p-3 f16 trigger" nzTheme="outline"></i>
	</div>
</div>






