<div class="app-header">
	<ul nz-menu nzTheme="dark" nzMode="horizontal" class="d-flex w-100" nzSelectable="false">
		<li nz-menu-item (click)="collapsChange(!isCollapsed)">
			<i nz-icon 
				nz-button	
				[nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'">
			</i>
		</li>
		<li class="me-auto">
			<nz-breadcrumb style="width: 240px;" class="d-inline-flex d-none d-xl-inline-block d-xxl-inline-block">
				<nz-breadcrumb-item>
					<a [routerLink]="['/']"><i nz-icon nzType="home"></i></a>
				</nz-breadcrumb-item>
				<ng-container *ngFor="let item of menu.breadcrumb">
					<nz-breadcrumb-item>
						<span>{{item}}</span>
					</nz-breadcrumb-item>
				</ng-container>
			</nz-breadcrumb>
		</li>
		<li nz-menu-item>
			<i nz-icon nz-button nzType="search" nzTheme="outline"></i>
		</li>
		<li nz-menu-item>
			<i nz-icon nz-button nzType="expand" nzTheme="outline"></i>
		</li>
		<li nz-menu-item>
			<i nz-icon nz-button nzType="github" nzTheme="outline"></i>
		</li>
		<li nz-menu-item>
			<i nz-icon nz-button nzType="question-circle" nzTheme="outline"></i>
		</li>
		<li nz-menu-item>
			<i nz-icon nz-button nzType="bell" class="f18" nzTheme="outline"></i>
		</li>
		<li nz-menu-item>
			<nz-avatar nzIcon="user" nzSize="small" style="margin-top: -5px;"  nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
		</li>
		<li nz-menu-item>
			<i nz-icon nz-button nzType="global" nzTheme="outline"></i>
		</li>
	</ul>
</div>

<!-- search modal -->
<nz-modal 
	[(nzVisible)]="isVisible" 
	[nzKeyboard]="true" 
	[nzMask]="true" 
	[nzMaskClosable]="true" 
	[nzFooter]="null" 
	[nzClosable]="false" 
	(nzOnCancel)="handleCancel()">
	<ng-container *nzModalContent>
		<nz-input-group nzSize="large" [nzSuffix]="suffixTemplateInfo">
			<input
				placeholder="搜索..."
				nz-input
				[(ngModel)]="searchValue"
				(ngModelChange)="onChange($event)"
				[nzAutocomplete]="auto"
			/>
		</nz-input-group>

		<ng-template #suffixTemplateInfo>
			<span style="color: #969696;">ctrl + k</span>
		</ng-template>

		<nz-autocomplete #auto>
			<nz-auto-optgroup *ngFor="let group of optionGroups" [nzLabel]="groupTitle">
			<ng-template #groupTitle>
				<span>
				{{ group.title }}
				</span>
			</ng-template>
			<nz-auto-option *ngFor="let option of group.children" [nzLabel]="option.title" [nzValue]="option.title">
				{{ option.title }}
			</nz-auto-option>
			</nz-auto-optgroup>
		</nz-autocomplete>
	</ng-container>
</nz-modal>




