:host {
    position: relative;
    height: 52px;
    padding: 0;
}

.app-header {
    position: relative;
    height: 52px;
    line-height: 52px;
    padding: 0;
    // background-color: red;
    
}

::ng-deep .ant-layout-header {
    background-color: #515a6e;
}


