<div class="p-0 bg-white app-header d-flex justify-content-between align-items-center">
	<div class="d-flex align-items-center">
		<div class="trigger f16 px-3 me-3">
			<i  nz-icon 
				nz-button	
				[nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" 
				(click)="collapsChange(!isCollapsed)">
			</i>
		</div>

		<nz-breadcrumb class="d-inline-flex d-none d-xl-inline-block d-xxl-inline-block">
			<nz-breadcrumb-item>
				<a [routerLink]="['/']"><i nz-icon nzType="home"></i></a>
			</nz-breadcrumb-item>
			<ng-container *ngFor="let item of menu.breadcrumb">
				<nz-breadcrumb-item>
					<span>{{item}}</span>
				</nz-breadcrumb-item>
			</ng-container>
		</nz-breadcrumb>
	</div>

	<div class="d-flex align-items-center">
		<nz-input-group class="d-inline-flex mx-3 d-none d-lg-inline-flex d-xl-inline-flex d-xxl-inline-flex" 
			[nzSuffix]="suffixIconSearch" style="width: 240px;">
			<input class="f16" type="text" nz-input placeholder="search..." />
		</nz-input-group>

		<ng-template #suffixIconSearch>
			<i nz-icon nz-button class="f16 trigger" nzType="search"></i>
		</ng-template>

		<div class="px-3 f16 trigger">
			<i nz-icon nz-button nzType="expand" nzTheme="outline"></i>
		</div>

		<div class="px-3 f16 trigger">
			<i nz-icon nz-button nzType="question-circle" nzTheme="outline"></i>
		</div>

		<div class="px-3 f16 trigger">
			<nz-badge [nzCount]="0">
				<i nz-icon nz-button nzType="bell" class="f16" nzTheme="outline"></i>
			</nz-badge>
		</div>

		<div class="px-3 f16 trigger">
			<i nz-icon nz-button nzType="github" nzTheme="outline"></i>
		</div>

		<div class="px-3 f16 trigger">
			<i nz-icon nz-button nzType="global" nzTheme="outline"></i>
		</div>

		<div class="px-3 trigger">
			<nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
		</div>
	</div>
</div>






