:host {
    position: relative;
    height: 52px;
    padding: 0;
}

.app-header {
    position: relative;
    height: 52px;
    line-height: 52px;
    padding: 0;
}

.trigger {
    display: inline-block;
}

.trigger:hover {
    color: #1890ff;
    background: #f8f8f9;
}

