:host {
  display: flex;
  flex: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.transition-width {
  transition: all 0.2s;
}
