<p>dashboard works!</p>

<button nz-button (click)="donwloadFile('https://static.cnodejs.org/FvONO4yEIfK-iF1mDbZlskoiiYY2')">下载图片</button>
<button nz-button (click)="donwloadImage('https://static.cnodejs.org/FvONO4yEIfK-iF1mDbZlskoiiYY2')">下载附件</button>

<div class="grid border"  style="--bs-columns: 12; row-gap: 16px; --bs-gap: 16px;">
  <div class="g-col-6  bg-primary text-white" style="height: 100px;">.g-col-4</div>
  <div class="g-col-6 bg-success" style="height: 50px;">.g-col-4</div>
  <div class="g-col-6 bg-success">.g-col-4</div>
  <div class="g-col-6 bg-primary">.g-col-4</div>
</div>

