<div class="sidebar-logo">
	<a href="/" target="_blank">
		<img src="/assets/img/logo.svg" alt="logo">
		<h1>Lazy admin Pro</h1>
	</a>
</div>

<ul nz-menu nzMode="inline"  nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
	<ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"></ng-container>
	<ng-template #menuTpl let-menus>
		<ng-container *ngFor="let menu of menus">
			<li *ngIf="!menu.children"
				nz-menu-item
				nzMatchRouter
				class="d-flex align-items-center"
				[nzPaddingLeft]="48"
				[nzDisabled]="menu.disabled"
				[nzSelected]="menu.selected">
				<i nz-icon [nzType]="menu.icon" class="me-2" *ngIf="menu.icon"></i>
				<a [routerLink]="menu.link" class="me-auto">{{menu.label}}</a>
				<nz-badge nzSize="small " class="mx-2 float-end" nzStandalone [nzCount]="25"></nz-badge>
			</li>
			<li *ngIf="menu.children"
				nz-submenu
				[nzOpen]="menu.open"
				[nzTitle]="titleTpl"
				[nzDisabled]="menu.disabled">
				<ng-template #titleTpl>
					<span class="d-flex justify-content-between align-items-center w-100">
						<i nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></i>
						<span class="d-inline-block me-auto">{{menu.label}}</span>
						<nz-badge class="mx-2" nzStandalone [nzCount]="25"></nz-badge>
					</span>
				</ng-template>
				<ul>
					<ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"></ng-container>
				</ul>
			</li>
		</ng-container>
	</ng-template>
</ul>


