<div class="sidebar-logo">
	<a href="/" target="_blank">
		<img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
		<h1>ngx popar admin</h1>
	</a>
</div>

<ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
	<ng-container *ngFor="let menu of menus">
		<li nz-submenu nzOpen [nzTitle]="menu.label" [nzIcon]="menu.icon">
			<ng-container *ngIf="menu.children">
				<ul>
					<ng-container *ngFor="let item of menu.children">
						<li nz-menu-item nzMatchRouter class="d-flex justify-content-between align-items-center">
							<a [routerLink]="item.link">{{item.label}}</a>
							<nz-badge nzStandalone [nzCount]="25"></nz-badge>
						</li>
					</ng-container>
				</ul>
			</ng-container>
		</li>
	</ng-container> 
</ul>
