<nz-time-picker [formControl]="formControl"
                [formlyAttributes]="field"
                [nzAllowEmpty]="to['nzAllowEmpty']"
                [nzAutoFocus]="to['nzAutoFocus']"
                [nzClearText]="to['nzClearText']"
                [nzDefaultOpenValue]="to['nzDefaultOpenValue']"
                [nzDisabled]="to['nzDisabled']"
                [nzFormat]="to['nzFormat']"
                [nzHideDisabledOptions]="to['nzHideDisabledOptions']"
                [nzHourStep]="to['nzHourStep']"
                [nzMinuteStep]="to['nzMinuteStep']"
                [nzSecondStep]="to['nzSecondStep']"
                [nzOpen]="to['nzOpen']"
                [nzPlaceHolder]="to['nzPlaceHolder']"
                [nzPopupClassName]="to['nzPopupClassName']"
                ngDefaultControl></nz-time-picker>
