<nz-card nzSize="small" [nzBodyStyle]="{padding: 0, width: '100%'}" [nzBorderless]="true" class="w-100 d-flex flex-nowrap sticky-top">
	<nz-tabset
		[nzSelectedIndex]="selectedIndex"
		[nzTabBarExtraContent]="extraTemplate"
		nzLinkRouter
		nzType="card"
		[nzHideAdd]="true"
		[nzAnimated]="false"
		class="w-100"
		[nzTabBarStyle]="{'marginBottom': '0px'}"
		[nzTabBarGutter]="0"
		(nzAdd)="newTab()"
		(nzClose)="closeTab($event)">
		<ng-container  *ngFor="let tab of tabs">
			<nz-tab nzClosable nzType="primary" (nzContextmenu)="onContextmenu($event, menu)">
				<span *nzTabLink nz-tab-link [routerLink]="tab?.link">{{tab?.label}}</span>
			</nz-tab>
		</ng-container>
	</nz-tabset>
	<ng-template #extraTemplate>
		<nz-button-group class="w-100">
			<button nz-button nzType="text">
				<i nz-icon nzType="left"  nzTheme="outline"></i>
			</button>
			<button nz-button nzType="text">
				<i nz-icon nzType="right"  nzTheme="outline"></i>
			</button>
			<button nz-button nzType="text">
				<i nz-icon nzType="redo"  nzTheme="outline"></i>
			</button>

			<button nz-button nzType="text">
				<i nz-icon nzType="menu"  nzTheme="outline"></i>
			</button>
		</nz-button-group>

		<!-- <ul nz-menu nzTheme="light" nzMode="horizontal" class="d-flex w-100" style="line-height: 40px;" nzSelectable="false">
			<li nz-menu-item>
				<i  nz-icon nzType="left"  nzTheme="outline"></i>
			</li>
			<li nz-menu-item>
				<i  nz-icon nzType="right"  nzTheme="outline"></i>
			</li>
			<li nz-menu-item>
				<i nz-icon nzType="redo"  nzTheme="outline"></i>
			</li>
			<li nz-menu-item>
				<i nz-icon nzType="menu"  nzTheme="outline"></i>
			</li>
		</ul> -->
	</ng-template>
</nz-card>

<nz-dropdown-menu #menu="nzDropdownMenu">
	<ul nz-menu>
	  <li nz-menu-item>关闭</li>
	  <li nz-menu-item>关闭其他</li>
	  <li nz-menu-item>关闭右侧其他</li>
	  <li nz-menu-item>关闭全部</li>
	  <li nz-menu-item>重新加载</li>
	</ul>
</nz-dropdown-menu>