<nz-tabset  [nzSelectedIndex]="nzSelectedIndex || null"
            [nzAnimated] ="to['nzAnimated'] || true"
            [nzSize]="to['nzSize'] || 'default'"
            [nzTabPosition]="to['nzTabPosition'] || 'top'"
            [nzType]="to['nzType'] || 'line'"
            [nzTabBarGutter]="to['nzTabBarGutter'] || null"
            [nzHideAll]="to['nzHideAll'] || false"
            [nzShowPagination]="to['nzShowPagination'] || true"
            (nzSelectedIndexChange)="onChange($event)">
            <ng-container *ngFor="let field of field.fieldGroup; let i = index; trackBy: trackByFn">
                <nz-tab [nzTitle]="field?.model?.label + ''"
                        [nzDisabled]="false">
                    <ng-container *ngIf="nzSelectedIndex >= 0 && nzSelectedIndex > i - 6 && nzSelectedIndex < i + 6">
                        <formly-group
                            [field]="field"
                            [options]="options"
                            [form]="formControl">
                        </formly-group>
                    </ng-container>
                </nz-tab>
            </ng-container>
</nz-tabset>
